@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student

<h1>Edit Student Information</h1>

<div class='content'>
  <h4>@Html.DisplayFor(model => model.Name)</h4>

  @using (Html.BeginForm())
  {
      @Html.HiddenFor(model => model.Name)
      @Html.HiddenFor(model => model.EnrollmentDate)
      @Html.HiddenFor(model => model.StudentId)


      @Html.Label("Select department")
      @Html.DropDownList("DepartmentId")

      <input type="submit" value="Save" class='btn'/>
  }
</div>

<div class='links'>
  <p>@Html.ActionLink("Back to student list", "Index")</p>
</div>
