@{
  Layout = "_Layout";
}

@using UniversityRegistrar.ViewModels

@model RegisterViewModel

<h1>Register a new user</h1>
<div class="content">
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
  {
      @Html.LabelFor(user => user.Email)
      @Html.TextBoxFor(user=> user.Email)

      @Html.LabelFor(user=> user.Password)
      @Html.PasswordFor(user=> user.Password)

      @Html.LabelFor(user=> user.ConfirmPassword)
      @Html.PasswordFor(user=> user.ConfirmPassword)

      @* @Html.Label("Please select your identity")
      @Html.DropDownList("ClaimOptions") *@

      <input type="submit" value="Register" class='btn'/>
  }
</div>