@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student

<h1>@Model.Name</h1>

<div class='content'>
  <h4>@Html.DisplayNameFor(model => model.EnrollmentDate): @Html.DisplayFor(model => model.EnrollmentDate)</h4>

  @if(@Model.Courses.Count == 0)
  {
    <p>This student is not taking any courses.</p>
  }
  else
  {
    <h4>Courses this student is taking:</h4>
    <ul>
    @foreach(var join in Model.Courses)
    {
      <li>@join.Course.Name</li>
      @using (Html.BeginForm("DeleteCourse", "Items"))
      {
        @Html.Hidden("joinId", @join.CourseStudentId)
        <input type="submit" value="Delete"/>
      }
    }
    </ul>
  }
</div>


<div class="links">
  <p>@Html.ActionLink("Back to student list", "Index")</p>
  @* <p>@Html.ActionLink("Edit Item", "Edit", new { id = Model.ItemId })</p> *@
  <p>@Html.ActionLink("Add a course", "AddCourse", new { id = Model.StudentId })</p>
  @* <p>@Html.ActionLink("Delete Item", "Delete", new { id = Model.ItemId })</p> *@
</div>
