@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student

<h1>@Model.Name</h1>

<div class='content'>
  <h4>Enrollment Date: @Html.DisplayFor(model => model.EnrollmentDate)</h4>
  <h4>Department: @ViewBag.DepartmentName</h4>

  @if(@Model.Courses.Count == 0)
  {
    <p>This student is not taking any courses.</p>
  }
  else
  {
    <h4>Courses not completed:</h4>
    <ul>
    @foreach(var join in Model.Courses)
    {
      if(!join.IsComplete) {
        <li class='join'>@join.Course.Name
      @using (Html.BeginForm("EditCourse", "Students", FormMethod.Get))
      {
        @Html.Hidden("joinId", @join.CourseStudentId)
        <input type="submit" value="EditCourse" class='btn'/>
      }
      @using (Html.BeginForm("RemoveCourse", "Students"))
      {
        @Html.Hidden("joinId", @join.CourseStudentId)
        <input type="submit" value="Delete" class='btn'/>
      }
      </li>
      }
    }
    </ul>
    <h4>Completed courses:</h4>
    <ul>
    @foreach(var join in Model.Courses)
    {
      if (join.IsComplete)
      {
        <li class='join'>@join.Course.Name</li>
      }
    }
    </ul>
  }
</div>

<div class="links">
  <p>@Html.ActionLink("Back to student list", "Index")</p>
  <p>@Html.ActionLink("Add a course", "AddCourse", new { id = Model.StudentId })</p>
  <p>@Html.ActionLink("Edit student information", "Edit", new { id = Model.StudentId })</p>
  <p>@Html.ActionLink("Delete student", "Delete", new { id = Model.StudentId })</p>
</div>
