@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student

<h1>Add a new student</h1>

<div class='content'>
  @using (Html.BeginForm())
  {
      @Html.LabelFor(model => model.Name)
      @Html.TextBoxFor(model => model.Name)

      @Html.LabelFor(model => model.EnrollmentDate)
      @Html.TextBoxFor(model => model.EnrollmentDate)

      <input type="submit" value="Add new student" class="btn" />
  }
</div>

<div class='links'>
  <p>@Html.ActionLink("Show all students", "Index")</p>
</div>