@{
  Layout = "_Layout";
}

@using UniversityRegistrar.Models;
@* @model UniversityRegistrar.Models.Department; *@
@model IEnumerable<UniversityRegistrar.Models.CourseCourseStudent>;
<h1>Students in the department</h1>

<div class='content'>
  @if (Model.Any())
  {
    <h4>Incomplete Coursework Within Department:</h4>
    <ul>
      @foreach (CourseCourseStudent course in Model)
      {
        if (course.IsComplete == false)
        {
          <p>Student Name: @course.StudentName</p>
          <p>Course: @course.CourseName</p>
        }
      }
    </ul>
    <h4>Completed Coursework Within Department:</h4>
    <ul>
      @foreach (CourseCourseStudent course in Model)
      {
        if (course.IsComplete == true)
        {
          <p>Student Name: @course.StudentName</p>
          <p>Course: @course.CourseName</p>
        }
      }
    </ul>
  } 
  else
  {
    <h2>No students have coursework in this department</h2>
  }


<div class='links'>
  @* <p>@Html.ActionLink("Back to department", "Details", new {id = Model.DepartmentId})</p> *@
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>
